---
import Container from "./Container.astro"

---

<div id="features">
  <Container>
    <div class="md:w-2/3 lg:w-1/2"> 
      <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">A simplified approach to the customer ✨</h2>
      <p class="text-gray-600 dark:text-gray-300">Throughout my years of experience, I have improved my ability to communicate technical details to clients in a simplified and easy-to-understand way.</p>
    </div>
    <div
      class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
    >
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341139.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Initial Planning
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              In this phase, the client contacts to express their needs and goals for the website. It's essential to understand their expectations, budget, and timelines. From there, initial planning occurs, defining project requirements, scope, and timeline.
            </p>
          </div>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341134.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Design and Development
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Here, the design team creates the layout and visual identity of the website, considering client preferences and UX/UI best practices. Meanwhile, developers begin coding the website, implementing functionalities, and integrating necessary features.
            </p>
          </div>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341160.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Review and Adjustments
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              After the completion of initial design and development, the client reviews the website to provide feedback. This phase involves adjustments and improvements based on client feedback, ensuring the website fully meets their expectations and requirements.
            </p>
          </div>
        </div>
      </div>
      <div
        class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341025.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Post-Delivery Support
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              After final approval from the client, the website is launched and delivered. Post-delivery support is also provided. I offer up to two free revisions if the client has any ideas they want to add within 14 days.
            </p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>