---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">Oh, and I have some (real) testimonials from my clients</h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Daniella Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Freelancer</p>
          </div>
        </div>
        <p class="mt-8">I hired Abel to create a landing page and I'm extremely pleased with the result. He captured the essence of my business and created a beautiful and functional platform. His professionalism and technical skills are admirable.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Marcos Lima</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Branch owner</p>
          </div>
        </div>
        <p class="mt-8">The website for my restaurant not only reflects the atmosphere I wanted to convey, but is also highly functional and responsive. His dedication to understanding the needs of my business was fundamental to the success of the project.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Emily Jones</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Web agency</p>
          </div>
        </div>
        <p class="mt-8">He elevated our digital agency with his clear communication, and his work exceeded my expectations, strengthening our reputation in the market. We'll be working together more often!</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Jane from FocusPoint</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Photographer</p>
          </div>
        </div>
        <p class="mt-8">As a photographer, having a visually stunning website is crucial to showcasing my work, and Abel understood my vision and created a website just as I envisioned. His talent and attention to detail are evident on every page.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-5.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Marcelo Dutra</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Backend dev</p>
          </div>
        </div>
        <p class="mt-8">Working with you was a rewarding experience, as you not only delivered exceptional results, but also demonstrated unparalleled leadership skills in making decisions about our REKREIO project.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Lucas Mitchell</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
          </div>
        </div>
        <p class="mt-8">Abel is an exceptional web developer who developed my online portfolio. His technical knowledge combined with his proactive approach exceeded my expectations.</p>
      </div>

    </div>
  </Container>
</div>